Import the modules required

In [2]:
import pandas as pd
import numpy as np

Define the web url for Toronto post code area information

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

Pull the data and put it into a data frame called tables

In [4]:
tables = pd.read_html(url,header=0)[0]

Take a look at the data frame

In [5]:
tables.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Remove the "Not assigned" cells from Borough

In [6]:
df = tables[~(tables['Borough'].eq('Not assigned') | tables['Borough'].eq('Not assigned'))]

In [7]:
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Group them by Borough

In [22]:
grouped_final = df.groupby(["Postal Code", "Borough"])["Neighbourhood"].apply(', '.join).reset_index()
grouped_final.columns = ['Postcode', 'Borough', 'Neighbourhood']
grouped_final

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Malvern, Rouge
1        M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101      M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102      M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

Show the data shape of ther cleansed data fram grouped.final

In [23]:
grouped_final.shape

(103, 3)